.back-header{
    background-color: #078500;
    height: 10%;
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
    z-index: 10;
}
.back-button{
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-size: 20px;
    font-family: "Comic Sans MS", serif;
    height: 50%;
    width: 10%;
    cursor: pointer;
}
.back-button img{
    height: 30px;
    width: 30px;
    margin: auto 5px auto 10px;
}
