@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

.message{
    padding: 10px 10px;
    color: white;
    border-radius: 30px;
    margin: 10px;
    font-family: 'Merriweather Sans', serif;
}
.message p{
    margin-left: 5px;
}
.chat-window{
    padding: 8vh 0;
}
.footer{
    position: fixed;
    top: 92vh;
    height: 8vh;
    width: 100vw;
    background-color: #ECECEC;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    z-index: 10;
    filter: drop-shadow(0px -4px 4px rgba(0, 0, 0, 0.25));

}
.footer-form{
    width: 100%;
    align-items: center;
    display: flex;
}
.footer-form input{
    width: 93%;
    height: 30px;
    border-radius: 25px;
    border: solid 3px #078500;
    padding: 2px 15px;
    opacity: 100%;
    font-family: "Merriweather Sans", serif;
    font-size: 15px;
}
.footer-form button{
    border: 0 solid ;
    background-color: rgba(0,0,0,0%);
    margin-left: 10px;
}
.footer-form button svg{
    fill: #078500;
}
.footer-form button:hover svg{
    border: 0 solid;
    fill: #055A00;
}