<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<label for="question">Enter your question:</label>
<input id="question" type="text" placeholder="How to oder pizza?"/>

<label for="user">What is your name?</label>
<input id="user" type="text" placeholder="Ivan"/>

<script>
    let user_question = document.getElementById('question').value;
    let user_name = document.getElementById('name').value;
</script>

<button onclick="document.location='https://api.telegram.org/bot5455902096:AAGcjGdlwQdNW71ZuOIsXcJyP-_NESskukY/sendMessage?chat_id=-799113402&text=k'">Send</button>

</body>
</html>



